.hdr .wrap {
  font-size: 25px;
  font-weight: bold;
  padding-top: 35vh;
  width: 100%;
}

.hdr .lax {
  display: inline-block;
}
.hdr .name {
  display: block;
  position: relative;
}
.hdr .kev,
.hdr .k {
  position: absolute;
  left: 0;
  top: 0;
}
.hdr .k {
  left: 2.8em;
}
