* {
  box-sizing: border-box;
}
body {
  color: #272727;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 22px;
  line-height: 1.3;
  margin: 0;
}
html, body, .page {
  height: 100%;
}
.page {
  display: flex;
  flex-direction: column;
}
.bdy {
  flex: 1;
}
.hdr {
  background: #1fb2b2;
  color: #272727;
}
.hdr a {
  background-image: linear-gradient(#272727, #272727);
  background-position: left bottom -2px;
  color: inherit;
  display: inline;
  font-weight: bold;
}
.hdr a:hover {
  background-image: linear-gradient(#272727, #272727);
  color: #1fb2b2;
}

.ftr {
  font-size: 0.8em;
}
.ftr .wrap {
  border-top: 1px solid #f2f2f2;
}

.wrap {
  margin: auto;
  max-width: 750px;
  padding: 1em;
}
a {
  background: linear-gradient(#1fb2b2, #1fb2b2) repeat-x 0 100% / 2px 2px;
  color: #1fb2b2;
  text-decoration: none;
  transition: 0.2s ease-in all;
}
a:hover {
  background-size: 4px 100%;
  color: #272727;
}
.hide {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
.hide:active,
.hide:focus,
.hide:hover {
  height: auto;
  left: auto;
  overflow: visible;
  width: auto;
}

