---
layout: layout.html
---
<link rel="stylesheet" href="/css/home.css">
<header class="hdr" id="intro">
  <div class="wrap">
    <h1>
      <span class="fade">My name is</span>
      <span class="name">
        <span class="fade">Kevin </span>
        <span class="fade">Knoll</span>
        <span class="kev">Kev</span>
        <span class="k">K</span>
      </span>
      <span class="fade">and I</span>
      <span class="dev">dev<span class="fade">elop</span></span>
      <span class="fade">the web</span><span class="end">.</span>
    </h1>
  </div>
</header>
<main class="bdy" id="content">
  <div class="wrap">
    {{ content }}
  </div>
</main>
<script src="/js/vendor/lax-1.2.0.min.js"></script>
<script src="/js/home.js"></script>
