---
layout: layout.html
---
<link rel="stylesheet" href="/css/home.css">
<div class="hdr big">
  <div class="wrap">
    <h1>
      <span class="fade">My name is</span>
      <span class="name"><span class="down">Kev<span class="crush">in </span>K<span class="crush">noll</span></span></span>
      <span class="fade">and I</span> <span class="right">dev<span class="crush wait">elop</span></span> <span class="fade">the web.</span>
    </h1>
  </div>
</div>
<div class="bdy">
  <div class="wrap">
    {{ content }}
  </div>
</div>
