<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0085dd">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <a href="#content" class="hide" id="skip">Skip to Content</a>
    {{content}}

    <footer class="ftr">
      <div class="wrap">
        <p>Built with &hearts;, powered by <a href="https://www.11ty.io/">Eleventy</a>, hosted on <a href="https://www.netlify.com/">Netlify</a>, and open-sourced via <a href="https://github.com/kevinknoll/kevinknoll.com">Github</a>.</p>
      </div>
    </footer>
  </body>
</html>
